order deny,allow
allow from all

# Turn Rewrite Engine On
RewriteEngine On

RewriteCond %{REQUEST_URI} /(.*)/$
RewriteRule ^(.*)?/$ index.php?path=$1 [L,QSA]
RewriteRule ^(.*)?/(.*)?$ index.php?path=$1&id=$2 [L,QSA]
